<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="marker/favicon.ico">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6TkJuM2JTg-Xo3OEsTEfZunJUFlgH65k"></script>

    <title>SF Food Truck Map Application</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/foodtruckmap.css" rel="stylesheet">

    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="angularjs/angular.js"></script>
    <script src="ngmap/build/scripts/ng-map.js"></script>
    <script src="angular-bootstrap/ui-bootstrap.js"></script>
    <script src="angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/foodtruckmap.js" type="text/javascript" charset="utf-8"></script>

</head>

<body data-ng-app="foodTruckApp">

<div class="container" data-ng-controller="FoodTruckMapController">

    <div class="page-header">
        <h1>SF Food Truck Map</h1>
        <p class="lead">A Simple Web App that Maps the Food Trucks of San Francisco, CA.</p>
    </div>

    <div class="row">

        <div id="filterContainer" class="col-md-3">

            <div class="row control-container">
                <label class="control-label">Facility Type</label>

                <!--<select name="dattr-{{$index}}" ng-model="dattr.selected" class="selectpicker span2-5"-->
                        <!--ng-options="v for v in dattr.values">-->
                    <!--<option value=""></option>-->
                <!--</select>-->

                    <select class="form-control" name="facilityTypeFilter" ng-model="facilityTypeFilter" data-ng-options="v for v in facilityTypeValues">
                        <option value=""></option>
                    </select>
            </div>

            <div class="row control-container">
                <label class="control-label">Food Item</label>
                <input type="text" class="form-control" placeholder="enter food items for typeahead"
                       ng-model="foodItemText" typeahead="fi for fi in foodItemValues | filter:$viewValue"
                       typeahead-editable="true" typeahead-min-length="1">
            </div>

        </div>

        <div id="mapContainer" class="col-md-9">
            <map id="mapElem" center="[37.7577,-122.4376]" zoom="12">
                <marker ng-repeat="truck in trucks | foodItemFilter:foodItemText | facilityTypeFilter:facilityTypeFilter"
                        position="{{truck.latitude}}, {{truck.longitude}}"
                        draggable="false"
                        clickable="false"
                        animation="Animation.DROP"
                        title="{{truck.applicant}}"
                        icon="marker/truck.png"></marker>
            </map>
        </div>
    </div>
</div>

<!-- ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
